
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    
}
.signcont{
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

/* input {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
} */

/* button {
    background-color: #FFB400; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
} */

/* button:hover {
    background-color: #FF9500;
} */

.google{
    padding: 15px;
}

.fc{
    margin: -10px 10px;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
  /* .container {
    display: flex;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  } */
  
  .left-panel {
    flex: 1;
    padding: 20px;
    background-color: #FFB400; /* Updated color */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left-panel h1 {
    font-size: 2.5rem;
  }
  
  .left-panel p {
    font-size: 1.2rem;
    text-align: center;
  }
  
  .right-panel {
    flex: 1;
    padding: 20px;
  }
  
  .right-panel h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  
  .logincont {
    display: flex;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0);
    overflow: hidden;
    margin: 20px;
  }
  
  .logincont .left-panel {
    flex: 1;
    padding: 20px;
    background-color: #FFB400; /* Updated color */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logincont .left-panel h1 {
    font-size: 2.5rem;
  }
  
  .logincont .left-panel p {
    font-size: 1.2rem;
    text-align: center;
  }
  
  .logincont .right-panel {
    flex: 1;
    padding: 20px;
  }
  
  .logincont .right-panel h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .logincont form {
    display: flex;
    flex-direction: column;
  }
  
  .logincont input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .logincont button {
    background-color: #FFB400; /* Updated color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 6px 0px;
  }
  
  .logincont button:hover {
    background-color: #FF9500; /* Slightly darker shade on hover */
  }
  
  .logincont p {
    font-size: 1rem;
    text-align: center;
  }
  
  .logincont a {
    color: #FFB400; /* Updated color */
    text-decoration: none;
  }
  
  .logincont a:hover {
    text-decoration: underline;
  }
  
  .logincont h2{
    color: white;
  }
  
  .signin-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0 200px 0;
    background-color: #184341; 
    /* opacity: 0.69; */
    margin-top: -150px;
    background-image: url(../components/Assets/3408105.jpg);
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-size: cover;
  }


  @media only screen and (max-width: 600px) {
    .left-panel{
      display: none !important;
    }
  }